<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FT中文网-iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FT中文网.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FT今日焦点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>FT富媒体速递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50256C981A4B9D0B005950B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50256CAD1A4B9D0B005950B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507C7E4B1DB0BCE800A8EF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60450BA01ED911EB001DA995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60BD9C351ED3BD1F00CFAD3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
